<!DOCTYPE html>
<html lang="em">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-default" role="navigator">
            <a class="navbar-brand href="/">Superlists</a>
            {% if user.email %}
                <p class="navbar-text">Logged in as {{ user.email }}</p>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-link" href="{% url 'logout' %}">Log out</a></li>
                </ul>
            {% else %}
            <form class="navbar-form navbar-right" method="POST" action="{% url 'send_login_email' %}">
                <span>Log in:</span>
                <input class="form-control" name="email" type="text" placeholder="Email" />
                {% csrf_token %}
            </form>
            {% endif %}
        </nav>

        {% if messages %}
        <div class="row">
            <div class="col-md-8">
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <li class="alert alert-success">
                        {% else %}
                            <li class="alert alert-warning">
                        {% endif %}
                        {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <form method="POST" action="{% block form_action %}{% endblock %}">
                    {{ form.text }}
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="form-group has-error">
                            <div class="help-block">{{ form.text.errors }}</div>
                        </div>
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">        
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/list.js"></script>
</body>
</html>
